[Unit]
Description=tcpdump log wrap
After=network.target

[Service]
Environment='CMD_LINE=/usr/sbin/tcpdump -i lo'
Environment="LINE_PER_FILE=20"
Environment="LOG_DIR=/scripts2/logs"

Type=simple
ExecStart=/scripts2/pipeOutWrap -cmd="${CMD_LINE}" -count=${LINE_PER_FILE} -log-dir="${LOG_DIR}"
# if systemd kills service immideatly after start try to replace ExecStart to this 
# /scripts2/pipeOutWrap -cmd=${CMD_LINE} -count=${LINE_PER_FILE} -log-dir=${LOG_DIR}
