[Unit]
Description=tcpdump log wrap
After=network.target

[Service]
Environment='CMD_LINE=/usr/sbin/tcpdump -i lo'
Environment="LINE_PER_FILE=20"
Environment="LOG_DIR=/scripts/logs"
Environment="LOG_DIR_MAX_SIZE=40"

Type=simple
ExecStart=/scripts/pipeOutWrap -cmd="${CMD_LINE}" -count=${LINE_PER_FILE} -log-dir="${LOG_DIR}" -log-dir-threshold="${LOG_DIR_MAX_SIZE}"
